@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');


body {
    font-family: 'IM Fell English SC', serif;
}

h1, h2 {
    font-size: 2em;
    text-align: center;
}

blockquote {
    font-size: 1.5em;
}

#list {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    font-family: 'Times New Roman', Times, serif;
}

#student_card {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    padding: 10px;
    margin-top: 10px;
}


img {
width: 50%;
margin: 10px auto;
}

figure {
    border: 1px black solid;
}


[data-action] {
    cursor: pointer;
  }
  
  #sorting th.sortby {
    text-decoration: underline;
  }
  
  #sorting th.sortby[data-sort-direction="asc"]::after {
    content: "⇓";
  }
  
  #sorting th.sortby[data-sort-direction="desc"]::after {
    content: "⇑";
  }

  #list {
    border-collapse: collapse;
  }
  #list tbody tr td {
    padding: 4px;
    
  }

  #data {
    border: 1px black solid;
    padding: 10px;
    margin: 10px;
  }

  button {
    margin: 5px;
  }
  